.head-container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    height: 20vh;
}
.form{
  height: 100%;
  padding-top: 35px;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  justify-items: center;
}
.inputCity{
  width: 70%;
  height: 30px;
  border: none;
  background-color: rgba(36, 48, 56, 0.5);
}
.inputCity:enabled{
  background-color: rgba(36, 48, 56, 0.5);
  color: white;
}
::placeholder{
  color: rgb(136, 133, 133);
}
.button{
  width: 70%;
  height: 20px;

}


